{% extends "base.html" %}
{% block disqus %}
    {% set disqus = config.extra.disqus %}

    {% if page and page.meta and page.meta.disqus is string %}
        {% set disqus = page.meta.disqus %}
    {% endif %}
    
    {% if not page.is_homepage and disqus %}
        {% set pageID = page.title | default("404", true) %}
        <h2 id="__comments" data-no-instant>{{ lang.t("meta.comments") }}</h2>
        <div id="vcomments"></div>
        <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
        <script src="https://cdnjs.loli.net/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js"></script>
        <script>
            new Valine({
            el: '#vcomments',
            appId: 'wdw0wAH6LH5XrCBEPki613rm-gzGzoHsz',
            appKey: '4A2n4A4jRFlMnSuPJ4Xv1AzA'
            })
        </script>
    {% endif %}
{% endblock %}